<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aiparent.parentsapp" >

    <!-- normal permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许应用打开网络套接口 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RegsiterActivity"
            android:label="@string/title_activity_regsiter" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".ProfessionActivity"
            android:label="ProfessionActivity" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity" >
        </activity>
        <activity
            android:name=".FirstActivity"
            android:label="FirstActivity" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_appstart" >
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_appstart" >
        </activity>
    </application>

</manifest>
